<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.mariadb.jdbc.MariaDbDataSource">
        <property name="serverName" value="localhost"/>
        <property name="portNumber" value="3306"/>
        <property name="url" value="jdbc:mariadb://localhost:3306/charityDB"/>
        <property name="user" value="root"/>
        <property name="password" value="secret"/>
    </bean>

</beans>
