<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Charity List</title>
</head>

<body>
<h1>Charity List</h1>
<table border="1">
    <thead>
    </thead>
    <tbody>
    <tr th:each="charity: ${charities}">
        <td th:text="${{charity.getCharityTaxId()}}"/>
        <td th:text="${charity.getCharityId()}"/>
        <td th:text="${{charity.getCharityName()}}"/>
        <td th:text="${{charity.getCharityMission()}}"/>
        <td th:text="${{charity.getCharityWebAddress()}}"/>
        <td th:text="${{charity.getCharityFacebookAddress()}}"/>
        <td th:text="${{charity.getCharityTwitterAddress()}}"/>
        <td th:text="${{charity.getCharityCategory().getCategoryName()}}"/>

    </tbody>
</table>
</body>
</html>